{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post", enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="release_year">Year Released</label>
    <input name="release_year" id="release_year" value="{{ request.form['release_year'] }}">
    <label for="starring">Starring</label>
    <input name="starring" id="starring" value="{{ request.form['starring'] }}">
    <label for="synopsis">Plot Synopsis</label>
    <textarea name="synopsis" id="synopsis" required>{{ request.form['synopsis'] }}</textarea>
    <label for="poster">Poster Image:</label><br>
    <input type="file" id="poster" name="poster" accept="image/*">
    <input type="submit" value="Save">
  </form>
{% endblock %}